html {
    background-color: #1d1e22;
}
h1 {
    margin: 60px auto 20px auto;
    max-width: 500px;
    font-weight: 400;
    font-size: 36px;
    background: linear-gradient(
        to right,
        hsl(98 100% 62%),
        hsl(204 100% 59%)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: center;
}
.card {
    display: block;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(255,255,255,0.1);
    transition: 0.3s;
    width: 300px;
    border-radius: 5px;
    background-color: white;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(255,255,255,1);
}
.card .info {
    padding: 8px 28px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
.card .container {
    padding: 16px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(56, 56, 56);
}
#github-button {
    padding: 10px;
    padding-bottom: 8px;
    border: 1px solid gray;
    border-radius: 20px;
    cursor: pointer;
}
#github-button:hover {
    background-color: rgb(230, 230, 230);
}
.card a {
    text-decoration: none;
}
#github-button img {
    margin-bottom: -10px;
    padding-right: 6px;
}
.card .credits {
    margin-top: 5px;
    text-align: center;
    padding: 8px;
    background-color: aqua;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
    text-align: center;
}
